/target
/.tmp
build_rs_cov.profraw
TODO
*gitignore_*
*_gitignore*
!gitignore_tests.rs
!gitignore_tests.toml
!gitignore_tests.go
!src/scanner/gitignore_tests
!gitignore_tests*

*local.json
.sloc-guard-*.json