version = "2"

[scanner]
gitignore = true
exclude = ["target/**", ".git/**", ".tmp/**"]

[content]
extensions = ["rs"]
max_lines = 600
warn_threshold = 0.9
skip_comments = true
skip_blank = false

[[content.rules]]
pattern = "**/*_tests.rs"
max_lines = 1200
# max_lines = 1000
skip_comments = true
skip_blank = false
warn_threshold = 0.8
# warn_threshold = 0.9

[structure]
max_files = 50
max_dirs = 20
warn_threshold = 0.9
count_exclude = ["*_tests.rs"]
